.header {
	padding: 16px 8px;
	display: flex;
	justify-content: space-between;
}

.header > button {
	padding: 11px;
	font-weight: 801;
}

.inputText {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 31px;
	width: 100vw;
}

.inputText > * {
  padding:10px;
}

.inputText > input {
	width: 65%;
}

.inputText > button {
  margin-left : 1%;
	width: 19%;
}
