<div class="userNameBox" *ngIf="section == 1">
  <div>
    <input class="inputUsername" placeholder="Enter Username" [(ngModel)]="username">
    <button (click)="checkUserExist()">Next</button>
  </div>
</div>

<div class="userNameBox2" *ngIf="section == 2">
  <div>
    <input class="inputPassword" placeholder="Enter password" [(ngModel)]="password">
    <button (click)="signIn()">Login</button>
  </div>
</div>


<div class="userNameBox2" *ngIf="section == 3">
  <div>
    {{username}}
    <input class="inputPassword" placeholder="Enter password" [(ngModel)]="password">
    <input class="inputPassword" placeholder="Confirm password" [(ngModel)]="password1">
    <button (click)="signup()">Sign Up</button>
  </div>
  <p>{{message}}</p>
</div>
