.userNameBox,
.userNameBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userNameBox {
  margin-top: 50px;
}

.userNameBox2 {
  justify-content: center;
  margin-top: 47%;
}

.userNameBox2 > div {
  display: flex;
  flex-direction: column;
}

.userNameBox2 > div > button,
.userNameBox > div > button {
  width: 100%;
  padding: 9px;
  font: 18px/1.4 sans-serif;
  font-weight: 798;
  margin-top: 10px;
}

.userNameBox2 > div > input,
.inputUsername {
  width: 98%;
  height: 32px;
  font: 21px/1.4 sans-serif;
  text-align: center;
}
